[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
yappt = {editable = true, path = "."}
ruamel-yaml = "*"
pyfiglet = "*"
reparser = "*"
mistletoe = "*"

[dev-packages]
pylint = "*"
pydocstyle = "*"
mypy = "*"
"autopep8" = "*"
ipython = "*"

[requires]
python_version = "3.7"
