[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yappt = {editable = true, path = "."}

[dev-packages]
pylint = "*"
pydocstyle = "*"
mypy = "*"
"autopep8" = "*"
ipython = "*"
isort = "*"
"flake8" = "*"
python-language-server = {extras = ["all"], version = "*"}
jedi = "*"
neovim = "*"

[requires]
python_version = "3.7"
